  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse activity-choices" id="navbarSupportedContent">
    <a class="activity-choice" href="#">About</a>
    <a class="activity-choice" href="#">Works</a>
    <a class="activity-choice" href="#">Partners</a>
    <a class="activity-choice" href="#">Price</a>
    <a class="activity-choice" href="#">Contacts</a>
  </div>

