<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top bg-transparent">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Accueil", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Services", root_path(anchor: 'services'), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Portfolio", root_path(anchor: 'portfolio'), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contacte</a>
      </li>
    </ul>
  </div>
</div>
