<br>
<br>

<div id="services">
  <h2>Nos services</h2>
  <li>Conception de site web</li>
  <li>Rédaction des CGV-CGU</li>
  <li>Modélisation de Business Plan</li>
</div><br><br>

<div id="portfolio">
  <h2>Nos projets réalisés</h2>
  <li>GOM</li>
  <li>Atelier LB</li>
  <li>BD Troc</li>
  <li>Samedi 28</li>
</div>
