
<div class="section" id="services">
  <br>
  <h3>Nos services</h3>
  <li>Conception de site web</li>
  <li>Rédaction des CGV-CGU</li>
  <li>Modélisation de Business Plan</li>
</div>

<div class="section" id="portfolio">
  <br>
  <h3>Nos projets réalisés</h3>
  <li>GOM</li>
  <li>Atelier LB</li>
  <li>BD Troc</li>
  <li>Samedi 28</li>
</div>
<br>

<!-- parralax -->

<div class="container">
  <article>
    <br>
    <figure>
      <img src='assets/batch351.jpg' alt />
    </figure>
    <section>
        <div>
          <h1>Great Outdoor Map</h1>
          <p>Working a map to display best places to practice your outdoor activities and share great experience.</p>
        </div>
    </section>

    <figure>
      <img src='assets/batch.jpg' alt />
    </figure>
    <section>
      <div>
        <h2>BD TROC</h2>
        <p>Easy way to rent and loan your favorite comics for free.</p>
      </div>
    </section>

    <figure>
      <img src='assets/batch351.jpg' alt />
    </figure>
    <section>
      <div>
        <h2>Atelier LB</h2>
        <p>Digital showroom for artisan.</p>
      </div>
    </section>
    <figure>
      <img src='assets/batch351.jpg' alt />
    </figure>
    <section>
      <div>
        <h2>Master Class</h2>
        <p>Team de ouf ^^</p>
      </div>
    </section>
  </article>

</div>
<div>
  <h2> A SUIVRE...</h2>
</div>
