<div class="section" id="services">
  <br>
  <h2>Nos services</h2>
  <br>
  <li>Conception de sites web</li>
  <li>Rédaction des CGV-CGU</li>
  <li>Modélisation de Business Plan</li>
</div>

<span class="section" id="portfolio"></span>


<!-- parralax -->

  <article>
  <figure>
    <img src='assets/gom.png' alt />
  </figure>
  <section>
      <div>
        <h1>Great Outdoor Map</h1>
        <p>The Great Outdoors Map is a web application designed for outdoor activities lovers. It is an interactive map where you can easily see what outdoor sport session people are doing in your region and join them.</p>
        <a href="https://thegom.herokuapp.com/">Visitez ce site</a>
      </div>
  </section>

  <figure>
    <img src='assets/bdtroc.png' alt />
  </figure>
  <section>
    <div>
      <h2>BD Troc</h2>
      <p>BD Troc is a web application for exchanging comic book between people. It uses a token system : if you lend a comic book 3 days, you can borrow one for someone during 3 days.</p>
      <a href="https://bdtroc.herokuapp.com/">Visitez ce site</a>
    </div>
  </section>

  <figure>
    <img src='assets/atelier.png' alt />
  </figure>
  <section>
    <div>
      <h2>Atelier LB</h2>
      <p>Atelier LB est un site vitrine afin d'exposer le savoir faire d'un menuisier, découvrir les récents projets réalisés et prendre contacte avec l'artisan pour un devis.</p>
      <a href="https://atelier-lb.herokuapp.com/" target="_blank">Visitez ce site</a>
    </div>
  </section>
  </article>

<div>
  <h2>Retrouvez nous sur Instagram :</h2>
  <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/1edac74aef9e507da9f5d625b9b2d886.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
  <h2> A SUIVRE...</h2>
</div>
