<br>
<br>

<div id="services">
  <br>
  <h2>Nos services</h2>
  <li>Conception de site web</li>
  <li>Rédaction des CGV-CGU</li>
  <li>Modélisation de Business Plan</li>
</div><br><br>

<div id="portfolio">
  <br>
  <h2>Nos projets réalisés</h2>
  <li>GOM</li>
  <li>Atelier LB</li>
  <li>BD Troc</li>
  <li>Samedi 28</li>
</div>
<br>

<!-- parralax -->

<div class="container">
   <article>
    <figure>
      <img src='assets/foot.jpeg' alt />
    </figure>
    <section>
        <div>
          <h1>Great Outdoor Map</h1>
          <p>Working a map to display best places to practice your outdoor activities and share great experience.</p>
        </div>
    </section>

    <figure>
      <img src='assets/batch.jpg' alt />
    </figure>
    <section>
      <div>
        <h2>BD TROC</h2>
        <p>Easy way to rent and loan your favorite comics for free.</p>
      </div>
    </section>

    <figure>
      <img src='https://unsplash.it/450/800?image=948' alt />
    </figure>
    <section>
      <div>
        <h2>Atelier LB</h2>
        <p>Digital showroom for artisan.</p>
      </div>
    </section>

    <figure>
      <img src='https://unsplash.it/450/800?image=737' alt />
    </figure>
    <section>
      <div>
        <h2>#impoCSSible is nothing</h2>
        <p>You don´t need Javascript or #CSS processors either for almost 100% of what you want to do.</p>
      </div>
    </section>

    <figure>
      <img src='batch351.jpg' alt />
    </figure>
    <section>
      <div>
        <h2>Idea from E.Bouças´s <a href='https://codepen.io/eduardoboucas/full/qdaOWv/'>pen</a></h2>
        <p>Without jQuery or Javascript, nor fixed position (bye IOs problems)</p>
      </div>
    </section>

    <figure>
      <img src='https://unsplash.it/450/800?image=743' alt />
    </figure>
    <section>
      <div>
        <h2>Images from unsplash.it</h2>
        <p>Because it´s the best for demos. Thanks, guys!</p>
      </div>
    </section>

    <figure>
      <img src='https://unsplash.it/450/800?image=452' alt />
    </figure>
    <section>
      <div>
        <h2>show the PEN.<br/>
          <a href='https://escss.blogspot.com/2017/08/scroll-half-by-half-pure-css.html'>link the POST</a></h2>
        <p>Por una web con mucho estilo, para argonautas con buen gusto.</p>
      </div>
    </section>

  </article>
</div>
