<div class="section" id="services">
  <br>
  <h2>Nos services</h2>
  <br>
  <li>Conception de sites web</li>
  <li>Rédaction des CGV-CGU</li>
  <li>Modélisation de Business Plan</li>
</div>

<span class="section" id="portfolio"></span>


<!-- parralax -->

  <article>
  <figure>
    <img src='https://unsplash.it/450/800?image=508' alt />
  </figure>
  <section>
      <div>
        <h1>Great Outdoor Map</h1>
        <p>Made in pure #CSS and almost all is "old properties" method. And a bit imagination.<br/>
        Yes, the flexbox is old now.</p>
      </div>
  </section>

  <figure>
    <img src='assets/bdtroc.png' alt />
  </figure>
  <section>
    <div>
      <h2>BD Troc</h2>
      <p>Rent your favorite book.</p>
    </div>
  </section>

  <figure>
    <img src='https://unsplash.it/450/800?image=948' alt />
  </figure>
  <section>
    <div>
      <h2>Atelier LB</h2>
      <p>#impoCSSible inside EsCSS. A Spanish #CSS blog where the borders & limits of #CSS disappear.</p>
    </div>
  </section>
  </article>

<div>
  <h2> A SUIVRE...</h2>
</div>
