.btn {
  padding: 8px 12px;
  background: red;
  color: white;
  font-size: 24px;
  border-radius: 6px;
  margin-top: 24px;
  margin-left: 40%;
  a {
    text-decoration: none;
    &:hover {border-radius: solid 2px white;}
  }
}
