.btn {
  padding: 8px 12px 10px 12px;
  background: transparent;
  color: white;
  font-size: 2rem;
  border: solid 2px white;
  border-radius: 6px;
  margin-top: 24px;
  text-align: center;
  // margin-left: 62%;
  a {
    text-decoration: none;
    text-align: center;
    &:hover {
      border-radius: solid 2px white;
      color:  $brick;
    }
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 425px) {
  .btn {
    margin-left: 30%;
    padding: 6px 10px;
    font-size: 1.2rem;
  }
}

// Medium device
@media (min-width: 426px) and (max-width: 900px) {
  .btn {
    margin-left: 55%;
    padding: 6px 10px;
  }
}
