.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  height: 30vh;
  width: 100%;
  padding: 25px;
}
.service-card {
    height: 30vh;
    width: 30vh;
    border: solid 2px black;
    padding: 8px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {text-align: center;}
    transform: scale(0.95);
    box-shadow: 5px 8px 5px rgba(198,102,70,0.8);
    transition: box-shadow 0.5s, transform 0.5s;
    &:hover {
      transform: scale(1);
      box-shadow: 5px 12px 3px rgba(198,102,70,1);
    }
}

.portfolios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  padding: 25px;
  grid-gap: 24px;
  width: 100%;
}
.portfolio-card {
    height: 50vh;
    width: 100%; //from 1fr column
    border: solid 2px black;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    h3 {text-align: center; margin-top: 40%;}
    transform: scale(0.95);
    box-shadow: 8px 8px 5px rgba(198,102,70,0.8);
    transition: box-shadow 0.5s, transform 0.5s;
    &:hover {
      transform: scale(1);
      box-shadow: 12px 12px 3px rgba(198,102,70,1);
    }
}

#gom {
  background-image: linear-gradient(rgba(125,125,125,0.2),rgba(125,125,125,0.4)), url('../assets/gom.png');
  background-size: cover;
  background-position: center;
  &:hover {background-image: url('../assets/gom.png');}
}

#bdtroc {
  background-image: linear-gradient(rgba(125,125,125,0.2),rgba(125,125,125,0.4)), url('../assets/bdtroc.png');
  background-size: cover;
  background-position: center;
  &:hover {background-image: url('../assets/bdtroc.png');}
}
#atelier {
  background-image: linear-gradient(rgba(125,125,125,0.2),rgba(125,125,125,0.4)), url('../assets/atelier.jpg');
  background-size: cover;
  background-position: center;
  &:hover {background-image: url('../assets/atelier.jpg');}
}
#samedi {
  background-image: linear-gradient(rgba(125,125,125,0.2),rgba(125,125,125,0.4)), url('../assets/samedi.png');
  background-size: cover;
  background-position: center;
  &:hover {background-image: url('../assets/samedi.png');}
}
#cabinet {
  background-image: linear-gradient(rgba(125,125,125,0.2),rgba(125,125,125,0.4)), url('../assets/cabinet.jpg');
  background-size: cover;
  background-position: center;
  &:hover {background-image: url('../assets/cabinet.jpg');}
}
#graine {
  background-image: linear-gradient(rgba(125,125,125,0.2),rgba(125,125,125,0.4)), url('../assets/graine.png');
  background-size: cover;
  background-position: center;
  &:hover {background-image: url('../assets/graine.png');}
}
.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  height: 26vh;
  width: 100%;
  padding: 10px 75px 20px 75px;
}

.skill {
  width: 24vh;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  img {height: 80px ; width: 80px;}
  h2 {text-align: center;}
}

// Smallest++ device
@media (min-width: 100px) and (max-width: 320px) {
  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    height: 70vh;
    width: 100%;
    padding: 25px;
  }
  .service-card {
    height: 24vh;
    width: 24vh;
    border: solid 2px black;
    padding: 8px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {text-align: center; font-size: 1.5rem;}
    transform: scale(0.95);
    box-shadow: 5px 8px 5px rgba(198,102,70,0.8);
    transition: box-shadow 0.5s, transform 0.5s;
    &:hover {
      transform: scale(1);
      box-shadow: 5px 12px 3px rgba(198,102,70,1);
    }
  }
  .portfolios {
    display: grid;
    grid-template-columns: 1fr;
  }
  .portfolio-card {
    height: 28vh;
  }
  #gom {
    background-image: url('../assets/gom.png');
  }

  #bdtroc {
    background-image: url('../assets/bdtroc.png');
  }
  #atelier {
    background-image: url('../assets/atelier.jpg');
  }
  #samedi {
    background-image: url('../assets/samedi.png');
  }
  #cabinet {
    background-image: url('../assets/cabinet.jpg');
  }
  #graine {
    background-image: url('../assets/graine.png');
  }
  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    height: 50vh;
    width: 100%;
    padding: 10px 75px 20px 75px;
  }
  .skill {
    width: 17vh;
    height: 15vh;
    img {height: 80px ; width: 80px;}
    h2 {text-align: center; font-size: 1.5rem;}
  }
}
// Smallest device
@media (min-width: 321px) and (max-width: 375px) {
  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    height: 55vh;
    width: 100%;
    padding: 25px;
  }
  .service-card {
    height: 24vh;
    width: 24vh;
    border: solid 2px black;
    padding: 8px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {text-align: center;}
    transform: scale(0.95);
    box-shadow: 5px 8px 5px rgba(198,102,70,0.8);
    transition: box-shadow 0.5s, transform 0.5s;
    &:hover {
      transform: scale(1);
      box-shadow: 5px 12px 3px rgba(198,102,70,1);
    }
  }
  .portfolios {
    display: grid;
    grid-template-columns: 1fr;
  }
  .portfolio-card {
    height: 28vh;
  }
  #gom {
    background-image: url('../assets/gom.png');
  }

  #bdtroc {
    background-image: url('../assets/bdtroc.png');
  }
  #atelier {
    background-image: url('../assets/atelier.jpg');
  }
  #samedi {
    background-image: url('../assets/samedi.png');
  }
  #cabinet {
    background-image: url('../assets/cabinet.jpg');
  }
  #graine {
    background-image: url('../assets/graine.png');
  }
  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    height: 35vh;
    width: 100%;
    padding: 10px 75px 20px 75px;
  }
  .skill {
    width: 17vh;
    height: 15vh;
    img {height: 80px ; width: 80px;}
    h2 {text-align: center; font-size: 1.5rem;}
  }
}

// Medium device
@media (min-width: 550px) and (max-width: 812px) {
  .services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    height: 105vh;
    width: 100%;
    padding: 25px;
  }
  .service-card {
    height: 50vh;
    width: 50vh;
    border: solid 2px black;
    padding: 8px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {text-align: center;}
    transform: scale(0.95);
    box-shadow: 5px 8px 5px rgba(198,102,70,0.8);
    transition: box-shadow 0.5s, transform 0.5s;
    &:hover {
      transform: scale(1);
      box-shadow: 5px 12px 3px rgba(198,102,70,1);
    }
  }
  .portfolios {
    display: grid;
    grid-template-columns: 1fr;
  }
  .portfolio-card {
    height: 95vh;
  }
  #gom {
    background-image: url('../assets/gom.png');
  }

  #bdtroc {
    background-image: url('../assets/bdtroc.png');
  }
  #atelier {
    background-image: url('../assets/atelier.jpg');
  }
  #samedi {
    background-image: url('../assets/samedi.png');
  }
  #cabinet {
    background-image: url('../assets/cabinet.jpg');
  }
  #graine {
    background-image: url('../assets/graine.png');
  }
  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    height: 80vh;
    width: 100%;
    padding: 10px 75px 20px 75px;
  }
  .skill {
    width: 55vh;
    height: 35vh;
    img {height: 80px ; width: 80px;}
    h2 {text-align: center; font-size: 1.5rem;}
  }
}
