.form-container {
  width: 100%;
  height: 70vh;
  background-size: cover;
  background: #3359BD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #77A9F8, #3359BD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #77A9F8, #3359BD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0 0 25px rgba(75,75,75,0.5);
  margin-top: 5vh;
  padding: 16px;
  color: $blue-cadet;
  font-weight: bold;
  border-radius: 6px;
}

.form-control {
  background-color: rgba(255,255,255,1.0);
  width: 80%;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Special Elite";
  color: $blue-cadet;
}
.form-top {
  font-size: 16px;
  font-family: "Special Elite";
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 375px) {
  .form-container {
    width: 90%;
    padding: 32px;
    height: 80vh;
  }
  .form-control {
    background-color: rgba(255,255,255,1.0);
    width: 90%;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Special Elite";
    color: $blue-cadet;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 567px) {
  .form-container {
    width: 90%;
    padding: 32px;
  }
}

// IPHONE 5 HORIZONTAL
@media (width: 568px) {
  .form-container {
    width: 95%;
    padding: 32px;
    height: 132vh;
  }
}
// Medium device
@media (min-width: 569px) and (max-width: 739px) {
  .form-container {
    width: 95%;
    padding: 32px;
    height: 115vh;
  }
}

// SAMSUNG G9
@media (width: 740px) {
  .form-container {
    width: 95%;
    padding: 32px;
  }
}
// IPHONE X
@media (width: 812px) {
  .form-container {
    width: 95%;
    padding: 32px;
    height: 120vh;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .form-container {
    width: 95%;
    padding: 32px;
  }
}
