.form-container {
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-image: linear-gradient(rgba(255,255,255,0.3),rgba(155,155,155,0.6)), url("../assets/wall2.jpg");
  box-shadow: 0 0 25px rgba(75,75,75,0.5);
  margin-top: 5vh;
  padding: 16px;
  color: $blue-cadet;
  font-weight: bold;
  border-radius: 6px;
  position: relative;
  .profil {
    position: absolute;
    z-index: 10;
    top: -3vh; left: 70%;
    overflow: hidden;
    width: 260px;
  }
}

.form-control {
  background-color: rgba(255,255,255,1.0);
  width: 70%;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Special Elite";
  color: $blue-cadet;
}
.form-top {
  font-size: 16px;
  font-family: "Special Elite";
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 375px) {
  .form-container {
    width: 90%;
    padding: 32px;
    height: 80vh;
    .profil {
      display: none;
    }
  }
  .form-control {
    background-color: rgba(255,255,255,1.0);
    width: 90%;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Special Elite";
    color: $blue-cadet;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 567px) {
  .form-container {
    width: 90%;
    padding: 32px;
  }
}

// IPHONE 5 HORIZONTAL
@media (width: 568px) {
  .form-container {
    width: 95%;
    padding: 32px;
    height: 132vh;
    .profil {
      position: absolute;
      z-index: 10;
      top: 14vh; left: 65%;
      overflow: hidden;
      width: 200px;
    }
  }
}
// Medium device
@media (min-width: 569px) and (max-width: 739px) {
  .form-container {
    width: 95%;
    padding: 32px;
    height: 115vh;
    .profil {
      position: absolute;
      z-index: 10;
      top: 15vh; left: 65%;
      overflow: hidden;
      width: 200px;
    }
  }
}

// SAMSUNG G9
@media (width: 740px) {
  .form-container {
    width: 95%;
    padding: 32px;
    height: 130vh;
    .profil {
      position: absolute;
      z-index: 10;
      top: 16vh; left: 70%;
      overflow: hidden;
      width: 200px;
    }
  }
}
// IPHONE X
@media (width: 812px) {
  .form-container {
    width: 95%;
    padding: 32px;
    .profil {
      position: absolute;
      z-index: 10;
      top: 15vh; left: 70%;
      overflow: hidden;
      width: 200px;
    }
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .form-container {
    width: 95%;
    padding: 32px;
  }
}
