// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "banner";
@import "button";
@import "card";
@import "navbar";



.content-wrapper {
  min-height: calc(100vh - 70px - 80px);
}

html {
  scroll-behavior: smooth;
}

h1 { padding-left: 32px; margin-top:10vh;}
