.navbar-lewagon {
  justify-content: center;
  background: rgb(102, 117, 114); //$gray
  height: 72px;
  display: flex;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-toggler-icon {
  padding: 5px;
}


.nav-item {
  opacity: 0.8;
  cursor: pointer;
  text-align: center;
  margin-right: 4px;
  padding: 12px 20px;
  font: 16px;
  color: black;
  &:focus { color: black;}
  &:hover {
    opacity: 1;
    color: $black;
    border: solid $white;
    text-decoration: none;
  }
  &.active {
    opacity: 1;
    background-color: $blue;
  }
}
