.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  height: 72px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  opacity: 0.3;
  text-align: center;
  width: 100px;
  height: 35px;
  font: 24px;
  align-items: center;
  justify-content: center;
  color: white;
  &:hover {
    opacity: 1;
    color: white;
    background-color: $red;
  }
  &.active {
    background-color: $blue;
    opacity: 1;
    color: transparent;
  }
}
