.navbar-lewagon {
  justify-content: center;
  background: rgba(102,117,114,0.8); //$gray
  height: 72px;
  display: flex;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-toggler-icon {
  padding: 5px;
}


.nav-item {
  opacity: 0.8;
  cursor: pointer;
  text-align: center;
  margin-right: 4px;
  padding: 12px 20px;
  font: 16px;
  color: black;
  //transition: all 1s ease-out;
  // &:hover {
  //   opacity: 1;
  //   color: $black;
  //   border: solid $white;
  //   border-radius: 16px;
  //   text-decoration: none;
  // }
  &.active {
    opacity: 1;
    background-color: $blue;
    border-radius: 16px;
  }
}
