.blueform {
  background: #1f4037;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 75%;
  height: 80vh;
  margin: auto;
  border-radius: 8px;
  margin-bottom: 20vh;
  z-index: 2;
  position: relative;
  .greyform {
    position: absolute;
    top: 8vh;
    transition: all 2.0s ease-out;
    left: -4vh;
    width: 33%;
    height: 50%;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 8px;
    box-shadow: 8px 8px 5px rgba(40, 77, 66, 0.5);
  }
}

.margin-form1 {
  transform: translateX(-15vh) translateY(10vh);
  transition: all 1.5s ease-out;
}
.margin-form2 {
  transform: translateX(15vh) translateY(22vh);
  transition: all 1.5s ease-out;
}


.yellowform {
  background: #FDC830;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 75%;
  height: 80vh;
  margin: auto;
  border-radius: 8px;
  margin-bottom: 20vh;
  z-index: 2;
  position: relative;
  .greyform {
    position: absolute;
    top: 15vh;
    right: 5vh;
    transition: all 2.0s ease-out;
    width: 33%;
    height: 50%;
    background: #1f4037;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 8px;
    box-shadow: 8px 8px 5px rgba(40, 77, 66, 0.5);
  }
}

.redform {
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 75%;
  height: 80vh;
  margin: auto;
  border-radius: 8px;
  margin-bottom: 20vh;
  z-index: 2;
  position: relative;
  .greyform {
    position: absolute;
    top: 8vh;
    transition: all 2.0s ease-out;
    left: -4vh;
    width: 33%;
    height: 50%;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 8px;
    box-shadow: 8px 8px 5px rgba(40, 77, 66, 0.5);
  }
}

.margin-form4 {
  transform: translateX(-15vh) translateY(8vh);
  transition: all 1.5s ease-out;
}

.mockup {
  width: 90%;
  height: auto;
  margin: auto;
  position: absolute;
  top: -5vh;
  left: -5vh;
  img {
    width:  100%;
    height: 100%;
    border-radius: 8px;
  }
  transition: all 1.5s ease-out;
}
.mockup2 {
  width: 90%;
  height: auto;
  margin: auto;
  top: 5vh;
  left: 5vh;
  position: absolute;
  img {
    width:  100%;
    height: 100%;
    border-radius: 8px;
  }
  transition: all 1.5s ease-out;
}

.mockupmove1 {
  transform: translateX(30vh) translateY(8vh);
  transition: all 1.5s ease-out;
}

.mockupmove2 {
  transform: translateX(-10vh) translateY(-10vh);
  transition: all 1.5s ease-out;
}

@media (min-width: 100px) and (max-width: 400px) {
   .blueform {
    height: 25vh;
   }
   .margin-form1 {
    transform: translateX(0vh) translateY(10vh);
    transition: all 1.5s ease-out;
  }
  .mockupmove1 {
    transform: translateX(10vh) translateY(8vh);
    transition: all 1.5s ease-out;
  }
}
