.blueform {
  background: #1f4037;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 75%;
  height: 80vh;
  margin: auto;
  border-radius: 2px;
  margin-bottom: 20vh;
  z-index: 2;
  position: relative;
  .greyform {
    position: absolute;
    top: 8vh;
    transition: all 2.0s ease-out;
    left: -4vh;
    width: 33%;
    height: 66%;
    padding: 16px;
    background-color: $blue-cadet;
    border-radius: 8px;
    box-shadow: 8px 8px 5px rgba(55, 53, 47, 0.5);
    h1 {
      font-size: 4em;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
}

.margin-form1 {
  transform: translateX(-15vh) translateY(10vh);
  transition: all 2.0s ease-out;
}
.margin-form2 {
  transform: translateX(20vh) translateY(22vh);
  transition: all 2.0s ease-out;
}


.yellowform {
  background-color: #3F3F3F;
  width: 75%;
  height: 80vh;
  margin: auto;
  border-radius: 2px;
  margin-bottom: 20vh;
  z-index: 2;
  position: relative;
  .greyform {
    position: absolute;
    top: 15vh;
    right: 5vh;
    transition: all 2.0s ease-out;
    width: 33%;
    height: 66%;
    padding: 16px;
    background-color: $blue-cadet;
    border-radius: 8px;
    box-shadow: 8px 8px 5px rgba(55, 53, 47, 0.5);
    h1 {
      font-size: 4em;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
}

.redform {
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 75%;
  height: 80vh;
  margin: auto;
  border-radius: 2px;
  margin-bottom: 20vh;
  z-index: 2;
  position: relative;
  .greyform {
    position: absolute;
    top: 8vh;
    transition: all 2.0s ease-out;
    left: -4vh;
    width: 33%;
    height: 66%;
    padding: 16px;
    background-color: $blue-cadet;
    border-radius: 8px;
    box-shadow: 8px 8px 5px rgba(55, 53, 47, 0.5);
    h1 {
      font-size: 4em;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
}

.brownform {
  background: #FDC830;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 75%;
  height: 80vh;
  margin: auto;
  border-radius: 2px;
  margin-bottom: 20vh;
  z-index: 2;
  position: relative;
  .greyform {
    position: absolute;
    top: 15vh;
    right: 5vh;
    transition: all 2.0s ease-out;
    width: 33%;
    height: 66%;
    padding: 16px;
    background-color: $blue-cadet;
    border-radius: 8px;
    box-shadow: 8px 8px 5px rgba(55, 53, 47, 0.5);
    h1 {
      font-size: 4em;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
}
.mockup {
  width: 90%;
  height: auto;
  margin: auto;
  position: absolute;
  top: -5vh;
  left: -5vh;
  img {
    width:  100%;
    height: 100%;
    border-radius: 8px;
  }
  transition: all 2.0s ease-out;
}
.mockup2 {
  width: 90%;
  height: auto;
  margin: auto;
  top: 5vh;
  left: 5vh;
  position: absolute;
  img {
    width:  100%;
    height: 100%;
    border-radius: 8px;
  }
  transition: all 2.0s ease-out;
}

.mockupmove1 {
  transform: translateX(30vh) translateY(8vh);
  transition: all 2.0s ease-out;
}

.mockupmove2 {
  transform: translateX(-10vh) translateY(-10vh);
  transition: all 2.0s ease-out;
}

@media (min-width: 100px) and (max-width: 425px) {
  .blueform {
    height: 30vh;
    margin-bottom: 24vh;
    .greyform {
      width: 50%;
      height: 90%;
      h1 {
        font-size: 2.5em;
        font-weight: bold;
        margin-bottom: 12px;
      }
      h2 { font-size: 1.2em;}
    }
  }
  .yellowform {
    height: 30vh;
    margin-bottom: 24vh;
    .greyform {
      width: 50%;
      height: 90%;
      h1 {
        font-size: 2.5em;
        font-weight: bold;
        margin-bottom: 12px;
      }
      h2 { font-size: 1.2em;}
    }
  }
  .redform {
    height: 30vh;
    margin-bottom: 24vh;
    .greyform {
      width: 50%;
      height: 105%;
      h1 {
        font-size: 2.5em;
        font-weight: bold;
        margin-bottom: 12px;
      }
      h2 { font-size: 1.2em;}
    }
  }
  .brownform {
    height: 30vh;
    margin-bottom: 24vh;
    .greyform {
      width: 55%;
      height: 115%;
      h1 {
        font-size: 2.5em;
        font-weight: bold;
        margin-bottom: 12px;
      }
      h2 { font-size: 1.2em;}
    }
  }

  .margin-form1 {
    transform: translateX(0vh) translateY(10vh);
    transition: all 1.5s ease-out;
  }
  .margin-form2 {
   transform: translateX(8vh) translateY(2vh);
   transition: all 1.5s ease-out;
  }
  .mockupmove1 {
    transform: translateX(10vh) translateY(8vh);
    transition: all 1.5s ease-out;
  }
}

@media (min-width: 426px) and (max-width: 899px) {
  .blueform {
    margin-bottom: 32vh;
    .greyform {
      height: 105%;
    }
  }
  .yellowform {
    margin-bottom: 36vh;
    .greyform {
      width: 36%;
      height: 90%;
    }
  }
  .redform {
    margin-bottom: 24vh;
    .greyform {
      width: 40%;
      height: 95%;
    }
  }
  .brownform {
    margin-bottom: 24vh;
    .greyform {
      width: 40%;
      height: 90%;
      h1 {
        font-size: 3.0em;
        font-weight: bold;
        margin-bottom: 12px;
      }
      h2 { font-size: 1.5em;}
    }
  }
}
